* {
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
    /* font: Graphik; */
}

.container {
    min-height: 100vh;
    background: #353644;
}

.logo {
    color: white;
    font-size: 2em;
    padding: 10px 0 0 25px;
}

.main-div {
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head {
    color: white;
    text-align: center;
}

a {
    font-size: 1.3em;
    text-align: center;
    text-decoration: none;
    color: white;
}

.links {
    border: 3px solid black;
    padding: 5px 20px;
    background-color: blue;
    margin: 15px 15px;
    width: 22rem;
    box-shadow: 2px 5px 5px 2px #0c0c0c;
    align-self: center;
}

.or {
    color: white;
    text-align: center;
}

input {
  min-width: 30rem;
  height: 0.8rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  line-height: 1.42857143;
  margin-top: 1rem;
  color: rgb(58, 57, 57);
  background-color: #fff;
  background-image: none;
  border-radius: 3px;
  border: 0.1rem solid #ccc;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.forgot-password {
    margin-top: 20px;
    text-align: start;
    font-size: 1em;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login {
    margin-top: 3rem;
    background-color: rgb(245, 82, 82);
}

@media screen and (max-width: 800px) {
    input {
        min-width: 0;
    }

    .links {
        width: auto;
    }
}