.or {
    margin: 15px 0 !important;
}
.forgot-password {
    font-size: 1em;
    color: #B44538;
    margin-top: 20px;
    text-align: end;
}

.forgot-password:hover {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    input {
        min-width: 0;
    }

    .links {
        min-width: 200px;
        width: auto;
    }

    .sub-div {
        padding: 0 10px;
    }
}