@media screen and (max-width: 800px) {
    input {
        min-width: 0;
        width: auto;
    }
    
    .links {
        width: auto;
    }

    .myName {
        width: auto;
        margin-top: 15px;
    }

    .or {
        margin-bottom: 15px;
    }
    
    .name-input {
        align-items: unset;
        flex-direction: column;
    }
}